<div class="my-bg-dark-1">
    <div class="container pb-4">
        <div class="row">
            <div class="col-md-6 col-lg-7 text-white mt-4">
                <p class="mb-4 text-white my-text">Sobre nosotros</p>
                <div class="mb-4 my-text-2">
                    <p class="m-auto text-white my-text-2"><i class="fas fa-map-marked-alt icon-footer"></i> Ing Mario Italo Palanca 10 - Y4600 Jujuy</p>
                </div>
                <div class="mb-4 my-text-2">
                    <p class="m-auto text-white my-text-2"><i class="fas fa-phone-alt icon-footer"></i> 0388-154263518</p>
                </div>
                <div class="my-text-2">
                    <p class="m-auto text-white my-text-2"><i class="fas fa-envelope icon-footer"></i> cuarentenaterminaya:(@outlook.com</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 mt-4">
                <p class="mb-4 text-white my-text">Formulario de contacto</p>
                <form>
                    <div class="form-group">
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="telefono" id="telefono" class="form-control" placeholder="Telefono" required>
                    </div>
                    <div class="form-group">
                        <textarea name="mensaje" id="mensaje" cols="30" rows="3s" class="form-control"
                            placeholder="Mensaje" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success w-25">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="my-bg-dark-2 pt-3 pl-3 col-sm-8 col-md-9 col-lg-10">
            <p class="my-text-2 text-white"><i class="far fa-copyright" style="color: #ffffff;"></i> Toqui Academy 1998-2020 Todos los derechos reservados</p>
        </div>
        <div class="my-bg-dark-2 pt-3 pl-3 col-sm-4 col-md-3 col-lg-2">
            <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-square p-1 mx-2 icon-networks facebook"></i></a>
            <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter p-1 mx-2 icon-networks twitter"></i></a>
            <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram p-1 mx-2 icon-networks instagram"></i></a>
        </div>
    </div>
</div>